<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="sql" connectionString="Data Source=WIN-30FJQ771AK3;Initial Catalog=QUANLYPHONGKHAM;Integrated Security=True"/>
	</connectionStrings>
	<appSettings>
		<add key="currentUserId" value=""/>
	</appSettings>
</configuration>