<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="sql" connectionString="Data Source=.\;Initial Catalog=QUANLYPHONGKHAM;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="currentUserId" value=""/>
	</appSettings>
</configuration>